{% extends "layout.html" %}

{% block title %}
    {{ game["name"] }}
{% endblock %}

{% block main %}
    <div id="game-page-container">
        {% if "cover" in game.keys() %}
        <img id="game-page-cover" src="{{game['cover']['url'].replace('thumb', '720p')  }}" height="500vw">
        {% else %}
        <p id="game-page-cover">No image</p>
        {% endif %}
        <div id="game-page-info">
            <h1>{{ game["name"] }}</h1>
            <!-- <form action="/game/{{ game['slug'] }}" method="post" id="game-page-info-options"> -->
            
            <div id="game-page-info-options">
                <select name="status" id="game-page-info-status">
                    <option value="0" {% if info[0] == 0 %} selected {% endif %}>Not played</option>
                    <option value="1" {% if info[0] == 1 %} selected {% endif %}>Plan to play</option>
                    <option value="2" {% if info[0] == 2 %} selected {% endif %}>Playing</option>
                    <option value="3" {% if info[0] == 3 %} selected {% endif %}>Played</option>
                    <option value="4" {% if info[0] == 4 %} selected {% endif %}>Completed</option>
                </select>
                <select name="score" id="game-page-info-score">
                    <option value="" {% if info[1] == "" %} selected {% endif %}>Score</option>
                    <option value="0" {% if info[1] == 0 %} selected {% endif %}>0</option>
                    <option value="1" {% if info[1] == 1 %} selected {% endif %}>1</option>
                    <option value="2" {% if info[1] == 2 %} selected {% endif %}>2</option>
                    <option value="3" {% if info[1] == 3 %} selected {% endif %}>3</option>
                    <option value="4" {% if info[1] == 4 %} selected {% endif %}>4</option>
                    <option value="5" {% if info[1] == 5 %} selected {% endif %}>5</option>
                    <option value="6" {% if info[1] == 6 %} selected {% endif %}>6</option>
                    <option value="7" {% if info[1] == 7 %} selected {% endif %}>7</option>
                    <option value="8" {% if info[1] == 8 %} selected {% endif %}>8</option>
                    <option value="9" {% if info[1] == 9 %} selected {% endif %}>9</option>
                    <option value="10" {% if info[1] == 10 %} selected {% endif %}>10</option>
                </select>
                {% if info %}
                    <button type="submit" name="action" value="1" id="update" class="AUD-button">Update</button>
                    <button type="submit" name="action" value="2" id="delete" class="AUD-button">Remove</button>
                {% else %}
                    <button type="submit" name="action" value="0" id="add" class="AUD-button">Add</button>
                {% endif %}
            </div>
            
            <!-- </form> -->
            <label for="game-page-info-summary">Summary:</label>
            <p id="game-page-info-summary">{{ game["summary"] }}</p>

            <span class="nobreakline">
            <label for="game-page-info-genres">Genres:</label>
            <p id="game-page-info-genres">
                {% for i in range(game["genres"]|length) %}
                    &nbsp{{ game["genres"][i]["name"] }}
                    {% if i != (game["genres"]|length - 1) %}
                        ,
                    {% endif %}
                {% endfor %}
            </p>
            </span>

            <span class="nobreakline">
            <label for="game-page-info-platforms">Platforms:</label>
            <p id="game-page-info-platforms">
                {% for i in range(game["platforms"]|length) %}
                    &nbsp{{ game["platforms"][i]["name"] }}
                    {% if i != (game["platforms"]|length - 1) %}
                    ,
                    {% endif %}
                {% endfor %}
            </p>
            </span>

            <span class="nobreakline">
            <label for="game-page-info-release">Release Date:</label>
            <p title="YYYY/MM/DD" id="game-page-info-release">{{ game["first_release_date"] }}</p>
            </span>

            <span class="breakline">
                <label for="game-page-info-release">Developers:</label>
                <ul>
                {% for i in range(game["involved_companies"]|length) %}
                    {% if game["involved_companies"][i]["developer"] %}
                        <li>{{ game["involved_companies"][i]["company"]["name"] }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </span>

            <span class="breakline">
                <label for="game-page-info-release">Publishers:</label>
                <ul>
                {% for i in range(game["involved_companies"]|length) %}
                    {% if game["involved_companies"][i]["publisher"] %}
                    <li>{{ game["involved_companies"][i]["company"]["name"] }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </span>

        </div>
    </div>
    <script src="../static/js/game.js"></script>
{% endblock %}