<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="../static/style.css">
    {% block head %}{% endblock %}
    <title>MGL - {% block title %} My Game List {% endblock %}</title>
</head>
<body>
    <div class="container">
        <nav id="nav">
            <a href="/" id="header-logo">MyGameList</a>
            <div class="nav-extra">
            {% block nav %}
            <form action="/search" method="get">
                <input type="text" name="q" placeholder="Search for a game" autocomplete="off" value="{% if request.args.get('q') %}{{ request.args.get('q') }}{% endif %}">
                <button type="submit">Go</button>
            </form>
            {% endblock %}
            </div>
            {% if session["user_id"] %}
            <div class="options">
                <a href="/user/{{ session['username'] }}">Profile</a>    
                <a href="/logout">Log Out</a>
            </div>
            {% else %}
            <div class="options">
                <a href="/register">Register</a>
                <a href="/login">Log In</a>
            </div>
            {% endif %}
        </nav>
        <div id="flash">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        </div>
        <main id="main">
            {% block main %}
            {% endblock %}
        </main>
        <footer id="footer">
            <p>Made by Rafael Scholz Griebler</p>
            <p>Data provided by <a href="https://www.igdb.com/">IGDB</a></p>
        </footer>
    </div>
</body>
</html>