{% extends "layout.html" %}

{% block title %}
    Search: {{ request.args.get("q") }}
{% endblock %}

{% block main %}
    <h1>Search results: {{ request.args.get('q') }}</h1><br>
    <div id="search-results">
        {% if games %}
        {% for i in range(limit) %}
        <div id="result">
        {% if "cover" in games[i].keys() %}
            <a href="/game/{{ games[i]['slug'] }}"><img loading="lazy" id="result-image" src="{{ games[i]['cover']['url'].replace('thumb', 'logo_med') }}"></a>
        {% endif %}
            <a href="/game/{{ games[i]['slug'] }}">
                {{ games[i]["name"] }}
            </a>
            <br>
        </div>
        {% endfor %}
        <div id="page-options-container">
            {% if page > 1 %}
            <div class="page-options">
                <a href="/search?q={{request.args.get('q')}}&p={{page-1}}">Previous</a>
            </div>
            {% endif %}
            {% if games|length > limit %}
            <div class="page-options">
                <a href="/search?q={{request.args.get('q')}}&p={{page+1}}">Next</a>
            </div>
            {% endif %}
        </div>
        {% else %}
        <p>No games were found</p>
        {% endif %}
    </div>
{% endblock %}