{% extends "layout.html" %}

{% block title %}
    {{ username }}'s profile 
{% endblock %}

{% block main %}
    <div id="user-page-container">
        <h1 id="user-page-username">{{ username }}'s profile {% if iscurrent %}(you)
            {% endif %}</h1>
        
        <div id="user-page-stats">
            <h2>Stats:</h2>
            <div id="user-page-stats-inner" class="stats-organizer">
                <div class="stats-organizer">
                    <p id="count-5"></p>
                    <p id="count-4"></p>
                    <p id="count-3"></p>
                    <p id="count-2"></p>
                    <p id="count-1"></p>
                    <p id="count-0"></p>
                </div>
                <div class="stats-organizer">
                    <p id="meanscore"></p>
                </div>
            </div>
            <div id="user-search-div" class="stats-organizer">
                <h2>Check out other users' lists:</h2>
                <div class="stats-organizer" id="user-search-form-div">
                    <input id="user-search-input" type="search" placeholder="Username">
                    <button id="user-search-button">Go</button>
                </div>
            </div>
        </div>

        <div id="user-page-info">
            <div id="user-page-list-div">
            <h2>Game list:</h2>
            

            
            <details open>
                <summary>All:</summary>
                <div id="user-page-list-5">
                
                </div>
            </details>
            <br>

            <details>
                <summary>Completed:</summary>
                <div id="user-page-list-4">
                
                </div>
            </details>

            <details>
                <summary>Played:</summary>
                <div id="user-page-list-3">
                
                </div>
            </details>

            <details>
                <summary>Playing:</summary>
                <div id="user-page-list-2">
                
                </div>
            </details>

            <details>
                <summary>Plan to play:</summary>
                <div id="user-page-list-1">
                
                </div>
            </details>

            <details>
                <summary>Not played:</summary>
                <div id="user-page-list-0">
                
                </div>
            </details>

        </div>
    </div>  
    <script src="../static/js/user.js"></script>
    
{% endblock %}